@charset "UTF-8"; 

@font-face{
    font-family: Tahoma;
    src: url ("''fonts/Tahoma.otf''") /* Se define el tipo de texto del archivo*/
}  


.row {
    box-sizing: border-box !important;
    display: flex;
    width: 100% !important;
}

.col-1 {
    box-sizing: border-box !important;
    width: 8.33% !important;
    padding: 12px;
}

.col-2 {
    box-sizing: border-box !important;
    width: 16.66% !important;
    padding: 12px;
}

.col-3 {
    box-sizing: border-box !important;
    width: 25% !important;
    padding: 12px;
}

.col-4 {
    box-sizing: border-box !important;
    width: 33.33% !important;
    padding: 12px;
}

.col-5 {
    box-sizing: border-box !important;
    width: 41.66% !important;
    padding: 12px;
}

.col-6 {
    box-sizing: border-box !important;
    width: 50% !important;
    padding: 12px;
}

.col-6_1 {
    box-sizing: border-box !important;
    width: 50% !important;
    padding: 12px;
    margin-left: 3%;
}

.col-7 {
    box-sizing: border-box !important;
    width: 58.33% !important;
    padding: 12px;
}

.col-8 {
    box-sizing: border-box !important;
    width: 66.66% !important;
    padding: 12px;
}

.col-9 {
    box-sizing: border-box !important;
    width: 75% !important;
    padding: 12px;
}

.col-10 {
    box-sizing: border-box !important;
    width: 83.33% !important;
    padding: 12px;
}

.col-11 {
    box-sizing: border-box !important;
    width: 91.66% !important;
    padding: 12px;
}

.col-12 {
    box-sizing: border-box !important;
    width: 100% !important;
    padding: 12px;
}

.Fondoindice{
    height: 100vh; /*Establece la altura de un elemento*/
    background: linear-gradient(to right, #F5EADE 0%, #F5EADE 30%,#72594E 30%, #72594E 70%, #F5EADE 70%, #F5EADE 100%);/* Define un color de fondo, en este caso divide el fondo en 2 colores distintos para 3 porciones iguales*/
}

.Titulo {
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 55px ; /* Define el tamaño de letra*/
    max-width: 25%;/*Define el ancho de caja */
    margin-left: 37.5%;/* Define el margen izquiedo de la caja*/
    text-shadow: 3px 3px #000000; /* Define un borde para el texto*/
    cursor: pointer; /* Cuando se para encima del texto el puntero se vuelve una mano*/
    color:#F5EADE; /* Define un color del texto*/
    display: flex; /*Especifica como se debe mostrar un elemento HTML */
    justify-content: center; /* Especifica la alineación del los elementos dentro de la caja, en este caso centrado*/
    font-style:normal;
    font-weight: 1000;
 }

.Titulo:hover { /* Especifíca acciones en cuánto el puntero se para encima del elemento */
    color: #F5E0B0; /* Define un color*/
    text-shadow: 3px 3px #252525; /* Define un color de borde*/
}
    
.imageninicio{  
    margin-top: 50px; /* Distancia del elemento al tope superior */
    padding-left: 8.3%; /* Distancia del elemento al tope izquierdo */
    width: 83.4%;
}

.Botonnavegacion1 { /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    display: block; 
    width: 16.7%; /* Ancho de la caja*/
    font-family: Tahoma;
    font-size: 25px; 
    font-weight: 500; /* Grosor de la letra */ 
    border-radius: 10px; /* Define un radio de las esquinas de la caja*/
    padding: 10px 10px 10px 5px; /* Distancias del texto al borde de la caja /Superior/Derecha/Abajo/Izquierda/ */
    margin-left:  5%; /* Distancia lateral izquierda mínima de la caja hasta otro elemento*/
    margin-top: 50px; /* Distancia superior mínima de la caja hasta otro elemento*/
    margin-right: 0px; /* Distancia lateral derecha mínima de la caja hasta otro elemento*/
    background-color: #72594E; /* Define un color de fondo de la caja*/
    color: #F5EADE; /* Define un color para la letra*/
    text-align: center; /*Define una posición del texto de la caja, en este caso centrado */
} 

.Botonnavegacion {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    display: block; /* Define un elemento tipo bloque */
    width: 16.7%; 
    font-family: Tahoma;
    font-size: 25px;
    font-weight: 500; 
    border-radius: 10px;
    padding: 10px 10px 10px 5px;
    margin-left: 5%;
    margin-top: 20px;
    margin-right: 0px;
    background-color: #72594E;
    color: #F5EADE;
    text-align: center;
}

.Botonnavegacion1:hover { /* Define accioones para cuando el puntero se ubica encima de los botones de navegación*/
    color: #F5E0B0;
    text-shadow: 1px 1px #000000;
    background-color:#5D351E; /* Define un color del fondo para cuando el puntero se ubica encima del elemento */
    }

.Botonnavegacion:hover {/* Define accioones para cuando el puntero se ubica encima de los botones de navegación*/
    color: #F5E0B0;
    text-shadow: 1px 1px #000000;
     background-color:#5D351E;
    }
    
.textoinicio{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color: #72594E;
    border-radius: 5px;
    margin-top: 50px;
    font-family: Tahoma;
    font-size: 20px;
    padding: 0px 10px 0px 10px;
    align-content: center;
    color: #F5EADE;   
}

a { /* Permite hacer definiciones para los elementos tipo vínvulo*/
    text-decoration: none; /* Elimina de los elementos tipo vínculo el subrayado*/
}

.Fondoubicacion{
    height: 100vh; /*Establece la altura de un elemento*/
    background: linear-gradient(to right, #F5EADE 0%, #F5EADE 25%,#72594E 25%, #72594E 100%);/* Define un color de fondo, en este caso divide el fondo en 2 colores en 2 porciones */
}

.Botonnavegacion2 { /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    display: block; 
    width: 80%; /* Ancho de la caja*/
    font-family: Tahoma;
    font-size: 25px; 
    font-weight: 500; /* Grosor de la letra */ 
    border-radius: 10px; /* Define un radio de las esquinas de la caja*/
    padding: 10px 10px 10px 5px; /* Distancias del texto al borde de la caja /Superior/Derecha/Abajo/Izquierda/ */
    margin-left: 10%; /* Distancia lateral izquierda mínima de la caja hasta otro elemento*/
    margin-top: 50px; /* Distancia superior mínima de la caja hasta otro elemento*/
    margin-right: 0px; /* Distancia lateral derecha mínima de la caja hasta otro elemento*/
    background-color: #72594E; /* Define un color de fondo de la caja*/
    color: #F5EADE; /* Define un color para la letra*/
    text-align: center; /*Define una posición del texto de la caja, en este caso centrado */
} 

.Botonnavegacion3 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    display: block; /* Define un elemento tipo bloque */
    width: 80%; 
    font-family: Tahoma;
    font-size: 25px;
    font-weight: 500; 
    border-radius: 10px;
    padding: 10px 10px 10px 5px;
    margin-left: 10%;
    margin-top: 20px;
    margin-right: 0px;
    background-color:#72594E;
    color: #F5EADE;
    text-align: center;
}

.Botonnavegacion2:hover { /* Define accioones para cuando el puntero se ubica encima de los botones de navegación*/
    color: #F5E0B0;
    text-shadow: 1px 1px #000000;
    background-color:#5D351E; /* Define un color del fondo para cuando el puntero se ubica encima del elemento */
    }

.Botonnavegacion3:hover {/* Define accioones para cuando el puntero se ubica encima de los botones de navegación*/
    color: #F5E0B0;
    text-shadow: 1px 1px #000000;
     background-color:#5D351E;
    }  


.textoubicacion{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #F5EADE;
    border-radius: 5px;
    margin-top:  85px;
    left: 15%;
    font-family: Tahoma;
    font-size: 15px;
    padding: 0px 10px 0px 10px;
    align-content: center;
    color: #72594E;   
}

.Subtitulo {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 30px; /* Define el tamaño de letra*/
    margin-top: 10px;
    left: 5%;
    text-shadow: 1.5px 1.5px #000000; /* Define un borde para el texto*/
    color:#F5EADE; /* Define un color del texto*/
}

.Subtitulo2 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    position: relative;
    margin-top: 0px;
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    margin-left: 27%;
    font-size: 30px; /* Define el tamaño de letra*/
    text-shadow: 1.5px 1.5px #000000; /* Define un borde para el texto*/
    color:#F5EADE; /* Define un color del texto*/
}

.textoclima{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #F5EADE;
    border-radius: 5px;
    margin-left: 27%;
    max-width: 70%;
    font-family: Tahoma;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    align-content: center;
    color: #72594E;   
}

.Flora{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
      text-align: justify; /* Define una posición del texto, en este caso justificado*/
    font-family: Tahoma;
    font-size: 30px;
    align-content: center;
    text-shadow: 1px 1px #000000; 
    color: #F5EADE; 
    padding: 0px 0px 0px 0px;
}

.Fauna{/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
      text-align: justify; /* Define una posición del texto, en este caso justificado*/
    font-family: Tahoma;
    font-size: 30px;
    align-content: center;
    text-shadow: 1px 1px #000000; 
    color: #F5EADE; 
    padding: 0px 0px 0px 0px;
}

.Brujula {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    background-color: #F5EADE;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    align-content: center;
}

.Maps {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 15px; /* Define el tamaño de letra*/
    color: #F5EADE;
    cursor: pointer;
    text-decoration:underline; /*Permite que el texto presente subrayado (Debido a que este se le había eliminado a los elementos tipo "a")*/
}

.Maps:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #F5E0B0;
    text-shadow: 1px 1px #000000;
    }

.vinc1 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 12px; /* Define el tamaño de letra*/
    width: 150px;/*Define el ancho de caja */
    color:#F5E0B0; /* Define un color del texto*/
}

.vinc1:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #F5EADE; /* Define un color del texto*/
}

.textohabitantes{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #F5EADE;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 20px;
    padding: 0px 10px 0px 10px;
    align-content: center;
    color: #72594E;   
}

.Imagenhabitantes {
    position: absolute; /* Definición de posición absoluta, no depende de otros elementos*/
    top: 0px; /* Distancia del elemento al tope superior */
    left: 76%; /* Distancia del elemento al tope izquierdo */
}

.Subtitulo3 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 30px; /* Define el tamaño de letra*/
    text-shadow: 1.5px 1.5px #000000; /* Define un borde para el texto*/
    color:#F5EADE; /* Define un color del texto*/
}


.Pachunos{/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #F5EADE;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 20px;
    padding: 10px 10px 10px 5px;
    align-content: center;
    color: #72594E; 
}

.Subsubtitulo {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 25px; /* Define el tamaño de letra*/
    padding-left: 5px;
    color:#72594E; /* Define un color del texto*/
    background-color:  #F5EADE;
    border-radius: 5px;
}
    

.Imagenes{
    position: relative;/* Definición de posición relativa, depende de otros elementos*/
	float: left;/* Especifíca que el elemento flota a la izquierda del cuadro*/
	margin-right: 10px;/* Distancia mínima de 10 pixeles a la derecha del elemeto con otro elemento*/
	margin-bottom: 10px;/* Distancia mínima de 10 pixeles debajo del elemeto con otro elemento*/
    margin-left: 10px;/* Distancia mínima de 10 pixeles a la izquierda del elemeto con otro elemento*/
	margin-top: 10px;/* Distancia mínima de 10 pixeles encima del elemeto con otro elemento*/
}

.vinc2 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 12px; /* Define el tamaño de letra*/
    width: 150px;/*Define el ancho de caja */
    color:#F5E0B0; /* Define un color del texto*/
    position: relative;
    top: 30px;
}

.vinc2:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #F5EADE; /* Define un color del texto*/
}

.Indiceactividades {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #F5EADE;
    border-radius: 5px;
    max-width: 50%; /*Define el ancho de caja */
    font-family: Tahoma;
    font-size: 25px;
    padding: 0px 0px 0px 10px;
    align-content: center;
    color: #72594E; 
}

.Iniciohistoria {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #F5EADE;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 25px;
    padding: 10px 10px 0px 10px;
    align-content: center;
    color: #72594E; 
}

.Pachunos1{/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 18px; /* Define el tamaño de letra*/
    max-width: 900px;/*Define el ancho de caja */
    color:#72594E; /* Define un color del texto*/
    text-align: justify;
}

.Pachunos1:hover {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    color: #5D351E; /* Define un color del texto*/
}

.vinc3 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 12px; /* Define el tamaño de letra*/
    width: 150px;/*Define el ancho de caja */
    color:#72594E; /* Define un color del texto*/
}

.vinc3:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #5D351E; /* Define un color del texto*/
}

.Subtitulo4{/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 30px; /* Define el tamaño de letra*/
    margin-top: 50px;
    text-shadow: 1.5px 1.5px #000000; /* Define un borde para el texto*/
    color:#F5EADE; /* Define un color del texto*/
}

.Fondoreferencias{
    height: 100vh; /*Establece la altura de un elemento*/
    background: linear-gradient(to right, #F5EADE 0%, #F5EADE 28%,#72594E 28%, #72594E 78%, #F5EADE 78%, #F5EADE 100%);/* Define un color de fondo, en este caso divide el fondo en 2 colores distintos para 3 porciones iguales*/
}

.Referencias { /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #F5EADE;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 25px;
    padding: 0px 10px 0px 10px;
    align-content: center;
    color: #72594E; 
}

.vinc4 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 12px; /* Define el tamaño de letra*/
    color:#F5E0B0; /* Define un color del texto*/
}

.vinc4:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #F5EADE; /* Define un color del texto*/
}

.Indiceact {
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 25px; /* Define el tamaño de letra*/
    max-width: 30%;/*Define el ancho de caja */
    color:#72594E; /* Define un color del texto*/
    text-align: justify;
}

.Indiceact:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #5D351E; /* Define un color del texto*/
}

.Actividades{ 
    position: absolute;
    top:240px;
    left:65%;   
}

.Imagenact{
    position: relative;/* Definición de posición relativa, depende de otros elementos*/
	float: right;/* Especifíca que el elemento flota a la izquierda del cuadro*/
	margin-right: 10px;/* Distancia mínima de 10 pixeles a la derecha del elemeto con otro elemento*/
	margin-bottom: 10px;/* Distancia mínima de 10 pixeles debajo del elemeto con otro elemento*/
    margin-left: 10px;/* Distancia mínima de 10 pixeles a la izquierda del elemeto con otro elemento*/
	margin-top: 10px;/* Distancia mínima de 10 pixeles encima del elemeto con otro elemento*/
}

.Subtituloact1{
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 30px;
    padding: 10px 10px 0px 10px;
    align-content: center;
    color: #F5EADE; 
}

.Subsubtituloact1{
    display: block; 
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #F5EADE;
    border-radius: 5px;
    max-width: 90%;
    font-family: Tahoma;
    font-size: 25px;
    padding: 10px 10px 0px 10px;
    align-content: center;
    color: #72594E; 
}

.Pachunos2{/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 18px; /* Define el tamaño de letra*/
    max-width: 100%;/*Define el ancho de caja */
    color:#72594E; /* Define un color del texto*/
    text-align: justify;   
}

.Imagenescenter{ /*Estilo para centrar las imagenes*/
    text-align: center;/*Alineación de texto centrado*/
}


.vinc5 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 12px; /* Define el tamaño de letra*/
    width: 150px;/*Define el ancho de caja */
    position: relative;
    top: 100px;
    left: 27%;
    color:#F5E0B0; /* Define un color del texto*/
}

.vinc5:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #F5EADE; /* Define un color del texto*/
}

@media only screen and (max-width: 1280px) {
    
.Subtitulo2 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 30px; /* Define el tamaño de letra*/
    text-shadow: 1.5px 1.5px #000000; /* Define un borde para el texto*/
    color:#F5EADE; /* Define un color del texto*/
}

.textoclima{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #F5EADE;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    align-content: center;
    color: #72594E;   
}

.Flora{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
      text-align: justify; /* Define una posición del texto, en este caso justificado*/
    position: absolute; 
    top: 178%;
    left: 27%;
    max-width: 30%;/* Define el máximo ancho que puede tener la caja*/
    font-family: Tahoma;
    font-size: 30px;
    align-content: center;
    text-shadow: 1px 1px #000000; 
    color: #F5EADE; 
    padding: 0px 0px 0px 0px;
}

.Fauna{/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
      text-align: justify; /* Define una posición del texto, en este caso justificado*/
    position: absolute; 
    top: 178%;
    left: 60%;
    max-width: 38%;
    font-family: Tahoma;
    font-size: 30px;
    align-content: center;
    text-shadow: 1px 1px #000000; 
    color: #F5EADE; 
    padding: 0px 0px 0px 0px;
}
}