@charset "UTF-8"; 

@font-face{
    font-family: Tahoma;
    src: url ("''fonts/Tahoma.otf''") /* Se define el tipo de texto del archivo*/
}  


.row { /* Se define el para abarcar todo el ancho de pantalla y poderlo dividir posteriormente en columnas*/
    box-sizing: border-box !important; /* Define como es el tamaño de la caja, en este caso el ancho y la altura se aplican a todas las partes del elemento.*/
    display: flex;  /*Especifica como se debe mostrar un elemento HTML */
    width: 100% !important; /*Define el ancho del elemento de forma que dependa del ancho de la pantalla*/
}
                            /*El "!important" permite darle mayor peso a la tarea indicada, permitiendole priorizar esta ejecución*/
.col-1 { /*Define un elemento que servirá de columna con el ancho especificado posteriormente*/
    box-sizing: border-box !important;
    width: 8.33% !important; /*Define el ancho del elemento de forma que dependa del ancho de la pantalla*/
    padding: 12px; /*Define la distancia entre el contenido de una caja y sus bordes*/
}

.col-2 {/*Define un elemento que servirá de columna con el ancho especificado posteriormente*/
    box-sizing: border-box !important;
    width: 16.66% !important; /*Define el ancho del elemento de forma que dependa del ancho de la pantalla*/
    padding: 12px; /*Define la distancia entre el contenido de una caja y sus bordes*/
}

.col-3 {/*Define un elemento que servirá de columna con el ancho especificado posteriormente*/
    box-sizing: border-box !important;
    width: 25% !important; /*Define el ancho del elemento de forma que dependa del ancho de la pantalla*/
    padding: 12px;/*Define la distancia entre el contenido de una caja y sus bordes*/
}

.col-4 {/*Define un elemento que servirá de columna con el ancho especificado posteriormente*/
    box-sizing: border-box !important;
    width: 33.33% !important; /*Define el ancho del elemento de forma que dependa del ancho de la pantalla*/
    padding: 12px;/*Define la distancia entre el contenido de una caja y sus bordes*/
}

.col-5 {/*Define un elemento que servirá de columna con el ancho especificado posteriormente*/
    box-sizing: border-box !important;
    width: 41.66% !important; /*Define el ancho del elemento de forma que dependa del ancho de la pantalla*/
    padding: 12px;/*Define la distancia entre el contenido de una caja y sus bordes*/
}

.col-6 {/*Define un elemento que servirá de columna con el ancho especificado posteriormente*/
    box-sizing: border-box !important;
    width: 50% !important; /*Define el ancho del elemento de forma que dependa del ancho de la pantalla*/
    padding: 12px;/*Define la distancia entre el contenido de una caja y sus bordes*/
}

.col-6_1 {/*Define un elemento que servirá de columna con el ancho especificado posteriormente*/
    box-sizing: border-box !important;
    width: 50% !important; /*Define el ancho del elemento de forma que dependa del ancho de la pantalla*/
    padding: 12px;/*Define la distancia entre el contenido de una caja y sus bordes*/
    margin-left: 3%; /*Distancia a la izquierda del elemento con otro elemento, esta distancia es relativa al ancho de la pantalla*/
}

.col-7 {/*Define un elemento que servirá de columna con el ancho especificado posteriormente*/
    box-sizing: border-box !important;
    width: 58.33% !important; /*Define el ancho del elemento de forma que dependa del ancho de la pantalla*/
    padding: 12px;/*Define la distancia entre el contenido de una caja y sus bordes*/
}

.col-8 {/*Define un elemento que servirá de columna con el ancho especificado posteriormente*/
    box-sizing: border-box !important;
    width: 66.66% !important; /*Define el ancho del elemento de forma que dependa del ancho de la pantalla*/
    padding: 12px;/*Define la distancia entre el contenido de una caja y sus bordes*/
}

.col-9 {/*Define un elemento que servirá de columna con el ancho especificado posteriormente*/
    box-sizing: border-box !important;
    width: 75% !important; /*Define el ancho del elemento de forma que dependa del ancho de la pantalla*/
    padding: 12px;/*Define la distancia entre el contenido de una caja y sus bordes*/
}

.col-10 {/*Define un elemento que servirá de columna con el ancho especificado posteriormente*/
    box-sizing: border-box !important;
    width: 83.33% !important; /*Define el ancho del elemento de forma que dependa del ancho de la pantalla*/
    padding: 12px;/*Define la distancia entre el contenido de una caja y sus bordes*/
}

.col-11 {/*Define un elemento que servirá de columna con el ancho especificado posteriormente*/
    box-sizing: border-box !important;
    width: 91.66% !important; /*Define el ancho del elemento de forma que dependa del ancho de la pantalla*/
    padding: 12px;/*Define la distancia entre el contenido de una caja y sus bordes*/
}

.col-12 {/*Define un elemento que servirá de columna con el ancho especificado posteriormente*/
    box-sizing: border-box !important;
    width: 100% !important; /*Define el ancho del elemento de forma que dependa del ancho de la pantalla*/
    padding: 12px;/*Define la distancia entre el contenido de una caja y sus bordes*/
}

.Fondoindice{
    height: 100vh; /*Establece la altura de un elemento*/
    background: linear-gradient(to right, #F5EADE 0%, #F5EADE 30%,#72594E 30%, #72594E 70%, #F5EADE 70%, #F5EADE 100%);/* Define un color de fondo, en este caso divide el fondo en 2 colores distintos para 3 porciones iguales*/
}

.Titulo {
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 55px ; /* Define el tamaño de letra*/
    max-width: 25%;/*Define el ancho de caja */
    margin-left: 37.5%;/* Define el margen izquiedo de la caja*/
    text-shadow: 3px 3px #000000; /* Define un borde para el texto*/
    cursor: pointer; /* Cuando se para encima del texto el puntero se vuelve una mano*/
    color:#F5EADE; /* Define un color del texto*/
    display: flex; /*Especifica como se debe mostrar un elemento HTML */
    justify-content: center; /* Especifica la alineación del los elementos dentro de la caja, en este caso centrado*/
    font-style:normal;
 }

.Titulo:hover { /* Especifíca acciones en cuánto el puntero se para encima del elemento */
    color: #F5E0B0; /* Define un color*/
    text-shadow: 3px 3px #252525; /* Define un color de borde*/
}
    
.imageninicio{  
    margin-top: 50px; /* Distancia del elemento al tope superior */
    padding-left: 8.3%; /* Distancia del elemento al tope izquierdo */
    width: 83.4%;
}

    
.textoinicio{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color: #72594E;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 20px;
    padding: 0px 10px 0px 10px;
    align-content: center;
    color: #F5EADE;   
}

a { /* Permite hacer definiciones para los elementos tipo vínvulo*/
    text-decoration: none; /* Elimina de los elementos tipo vínculo el subrayado*/
}

.Fondoubicacion{
    height: 100vh; /*Establece la altura de un elemento*/
    background: linear-gradient(to right, #F5EADE 0%, #F5EADE 25%,#72594E 25%, #72594E 100%);/* Define un color de fondo, en este caso divide el fondo en 2 colores en 2 porciones */
}


ul {
    list-style: none;
}

ul {
    padding-left: 0px!important;
}
.textoubicacion{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #F5EADE;
    border-radius: 5px;
    margin-top:  80px;
    left: 15%;
    font-family: Tahoma;
    font-size: 15px;
    padding: 0px 10px 0px 10px;
    align-content: center;
    color: #72594E;   
}

.Subtitulo {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 30px; /* Define el tamaño de letra*/
    margin-top: 10px;
    left: 5%;
    font-weight: 600; /* Define el espesor de la letra*/
    text-shadow: 1.5px 1.5px #000000; /* Define un borde para el texto*/
    color:#F5EADE; /* Define un color del texto*/
}

.Subtitulo2 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    position: relative;
    margin-top: 0px;
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    margin-left: 27%;
    font-size: 30px; /* Define el tamaño de letra*/
    text-shadow: 1.5px 1.5px #000000; /* Define un borde para el texto*/
    color:#F5EADE; /* Define un color del texto*/
}

.textoclima{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #F5EADE;
    border-radius: 5px;
    margin-left: 27%;
    max-width: 70%;
    font-family: Tahoma;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    align-content: center;
    color: #72594E;   
}

.Flora{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
      text-align: justify; /* Define una posición del texto, en este caso justificado*/
    font-family: Tahoma;
    font-size: 30px;
    align-content: center;
    text-shadow: 1px 1px #000000; 
    color: #F5EADE; 
    padding: 0px 0px 0px 0px;
}

.Fauna{/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
      text-align: justify; /* Define una posición del texto, en este caso justificado*/
    font-family: Tahoma;
    font-size: 30px;
    align-content: center;
    text-shadow: 1px 1px #000000; 
    color: #F5EADE; 
    padding: 0px 0px 0px 0px;
}

.Brujula {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    background-color: #F5EADE;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    align-content: center;
}

.Maps {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 15px; /* Define el tamaño de letra*/
    color: #F5EADE;
    cursor: pointer;
    text-decoration:underline; /*Permite que el texto presente subrayado (Debido a que este se le había eliminado a los elementos tipo "a")*/
}

.Maps:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #F5E0B0;
    text-shadow: 1px 1px #000000;
    }

.vinc1 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 12px; /* Define el tamaño de letra*/
    width: 150px;/*Define el ancho de caja */
    color:#72594E; /* Define un color del texto*/
}

.vinc1:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #5D351E; /* Define un color del texto*/
}

.textohabitantes{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #F5EADE;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 20px;
    padding: 0px 10px 0px 10px;
    align-content: center;
    color: #72594E;   
}


.Subtitulo3 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 30px; /* Define el tamaño de letra*/
    font-weight: 600; /* Define el espesor de la letra*/
    text-shadow: 1.5px 1.5px #000000; /* Define un borde para el texto*/
    color:#F5EADE; /* Define un color del texto*/
}


.Pachunos{/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #F5EADE;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 20px;
    padding: 10px 10px 10px 5px;
    align-content: center;
    color: #72594E; 
}

.Subsubtitulo {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 25px; /* Define el tamaño de letra*/
    padding-left: 5px;
    color:#72594E; /* Define un color del texto*/
    background-color:  #F5EADE;
    border-radius: 5px;
}
    

.Imagenes{
    position: relative;/* Definición de posición relativa, depende de otros elementos*/
	float: left;/* Especifíca que el elemento flota a la izquierda del cuadro*/
	margin-right: 10px;/* Distancia mínima de 10 pixeles a la derecha del elemeto con otro elemento*/
	margin-bottom: 10px;/* Distancia mínima de 10 pixeles debajo del elemeto con otro elemento*/
    margin-left: 10px;/* Distancia mínima de 10 pixeles a la izquierda del elemeto con otro elemento*/
	margin-top: 10px;/* Distancia mínima de 10 pixeles encima del elemeto con otro elemento*/
}

.vinc2 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 12px; /* Define el tamaño de letra*/
    width: 150px;/*Define el ancho de caja */
    color:#F5E0B0; /* Define un color del texto*/
    position: relative;
    top: 30px;
}

.vinc2:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #F5EADE; /* Define un color del texto*/
}

.Indiceactividades {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #F5EADE;
    border-radius: 5px;
    max-width: 50%; /*Define el ancho de caja */
    font-family: Tahoma;
    font-size: 25px;
    padding: 0px 0px 0px 10px;
    align-content: center;
    color: #72594E; 
}

.Iniciohistoria {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #F5EADE;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 25px;
    padding: 10px 10px 0px 10px;
    align-content: center;
    color: #72594E; 
}

.Pachunos1{/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 18px; /* Define el tamaño de letra*/
    max-width: 900px;/*Define el ancho de caja */
    color:#72594E; /* Define un color del texto*/
    text-align: justify;
}

.Pachunos1:hover {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    color: #5D351E; /* Define un color del texto*/
}

.vinc3 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 12px; /* Define el tamaño de letra*/
    width: 150px;/*Define el ancho de caja */
    color:#72594E; /* Define un color del texto*/
}

.vinc3:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #5D351E; /* Define un color del texto*/
}

.Subtitulo4{/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 30px; /* Define el tamaño de letra*/
    margin-top: 50px;
    text-shadow: 1.5px 1.5px #000000; /* Define un borde para el texto*/
    color:#F5EADE; /* Define un color del texto*/
}

.Fondoreferencias{
    height: 100vh; /*Establece la altura de un elemento*/
    background: linear-gradient(to right, #F5EADE 0%, #F5EADE 28%,#72594E 28%, #72594E 78%, #F5EADE 78%, #F5EADE 100%);/* Define un color de fondo, en este caso divide el fondo en 2 colores distintos para 3 porciones iguales*/
}

.Referencias { /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #F5EADE;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 25px;
    padding: 0px 10px 0px 10px;
    align-content: center;
    color: #72594E; 
}

.vinc4 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 12px; /* Define el tamaño de letra*/
    color:#F5E0B0; /* Define un color del texto*/
}

.vinc4:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #F5EADE; /* Define un color del texto*/
}

.Indiceact {
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 25px; /* Define el tamaño de letra*/
    max-width: 30%;/*Define el ancho de caja */
    color:#72594E; /* Define un color del texto*/
    text-align: justify;
}

.Indiceact:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #5D351E; /* Define un color del texto*/
}

.Imagenact{
    position: relative;/* Definición de posición relativa, depende de otros elementos*/
	float: right;/* Especifíca que el elemento flota a la izquierda del cuadro*/
	margin-right: 10px;/* Distancia mínima de 10 pixeles a la derecha del elemeto con otro elemento*/
	margin-bottom: 10px;/* Distancia mínima de 10 pixeles debajo del elemeto con otro elemento*/
    margin-left: 10px;/* Distancia mínima de 10 pixeles a la izquierda del elemeto con otro elemento*/
	margin-top: 10px;/* Distancia mínima de 10 pixeles encima del elemeto con otro elemento*/
}

.Subtituloact1{
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 30px;
    padding: 10px 10px 0px 10px;
    align-content: center;
    color: #F5EADE; 
}

.Subsubtituloact1{
    display: block; 
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #F5EADE;
    border-radius: 5px;
    max-width: 90%;
    font-family: Tahoma;
    font-size: 25px;
    padding: 10px 10px 0px 10px;
    align-content: center;
    color: #72594E; 
}


.Imagenescenter{ /*Estilo para centrar las imagenes*/
    text-align: center;/*Alineación de texto centrado*/
}


.vinc5 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 12px; /* Define el tamaño de letra*/
    width: 150px;/*Define el ancho de caja */
    position: relative;
    top: 100px;
    left: 27%;
    color:#F5E0B0; /* Define un color del texto*/
}

.vinc5:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #F5EADE; /* Define un color del texto*/
}


.menu { /* Crea una clase para definir una caja que contiene los botones del menú de navegación*/
    font-family: Tahoma;/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    width: 20%;
    padding: 5px 15px 5px 5px;
    text-align: center;
    position: fixed; 
    left: 5px;
    transition: widht 2s; /*Define una trasición en 2 segundos cuando el puntero se ubica encima del elemento*/
    color:#F5EADE;
}
div.checkBoxMenu { /* Define las características del boton de navegación*/
  
  background-color: #72594E; /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
  height: 40px; width: 60%; 
  border-radius: 50px; 
  margin-bottom: 6px; 
  margin-left: 17px;
  padding-left: 25px;
 padding-top: 10px;
    border: solid 1px black; /* Define un borde negro de 1px al elemento*/
}

div.checkBoxMenu img { /* Define las características del boton de navegación especificamente para elementos "img" */

  background-color:#72594E; /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
  position: relative; 
  float: left; 
}

div.checkBoxMenu p { /* Define las características del boton de navegación especificamente para elementos "p"*/
  
  font-family: Tahoma;/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
  font-size: 25px ; 
  font-weight: normal;
  margin: auto;
    text-align:left;
    color: #F5EADE;
}

.buttonMenu { /* Define carcateristicas esteticas de la letra de los botones de navegación*/
    color:#F5EADE;/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    background-color: #72594E; 
    font-family: Tahoma;
    font-size: 22px;
    font-weight: 500; /* Define el espesor de la letra*/
    text-align: center;
    width: 80%; 
    font-weight: 500;
    border-color: rgba(0, 0, 0, .3); /* Define un color de borde en forma de malla negra*/
    border-radius:20px;
    cursor: pointer;
    transition: height 2s; /*Define una trasición en 2 segundos cuando el puntero se ubica encima del elemento*/
}

.buttonMenu:hover{ /* Define carcateristicas esteticas de la letra de los botones de navegación cuando el puntero se ubica encima del elemento*/

    color: #72594E;
    cursor: pointer;
    background-color: #F5EADE;
    font-size: 20px;
    width: 81%;
    height: 45px;
    transition: 0.8s; /*Define una trasición en 0.8 segundos cuando el puntero se ubica encima del elemento*/
    position: relative;
    right: 3px;    
}

ul { /* Elimina el punto generado por el elemento ul*/
    list-style: none;
}
  

@media only screen and (max-width: 1200px) { /*Definición de estilos que solo se aplicarán cuando la pantalla tenga un ancho menor a 1200px*/
    
.iconos{ /*Caracteristicas  para algunos iconos*/
    width: 15%;    
    }

.Fondoindice{
    height: 100vh; /*Establece la altura de un elemento*/
    background: linear-gradient(to right, #e2e2e2 0%, #e2e2e2 30%,#002034 30%, #002034 70%, #e2e2e2 70%, #e2e2e2 100%);/* Define un color de fondo, en este caso divide el fondo en 2 colores distintos para 3 porciones iguales*/
}

.Titulo {
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 40px; /* Define el tamaño de letra*/
    max-width: 25%;/*Define el ancho de caja */
    margin-left: 37.5%;/* Define el margen izquiedo de la caja*/
    text-shadow: 3px 3px #000000; /* Define un borde para el texto*/
    cursor: pointer; /* Cuando se para encima del texto el puntero se vuelve una mano*/
    color:#e2e2e2; /* Define un color del texto*/
    display: flex; /*Especifica como se debe mostrar un elemento HTML */
    justify-content: center; /* Especifica la alineación del los elementos dentro de la caja, en este caso centrado*/
    font-style:normal;
    font-weight: 1000;
 }

.Titulo:hover { /* Especifíca acciones en cuánto el puntero se para encima del elemento */
    color: #afafc4; /* Define un color*/
    text-shadow: 3px 3px #252525; /* Define un color de borde*/
}
    
.imageninicio{  
    margin-top: 50px; /* Distancia del elemento al tope superior */
    padding-left: 8%; /* Distancia del elemento al tope izquierdo */
    width: 84.3%;
}

    
.textoinicio{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color: #002034;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 17px;
    margin-left: -10%;
    padding: 0px 10px 0px 10px;
    align-content: center;
    color: #e2e2e2;   
}

a { /* Permite hacer definiciones para los elementos tipo vínvulo*/
    text-decoration: none; /* Elimina de los elementos tipo vínculo el subrayado*/
}

.Fondoubicacion{
    height: 100vh; /*Establece la altura de un elemento*/
    background: linear-gradient(to right, #e2e2e2 0%, #e2e2e2 25%,#002034 25%, #002034 100%);/* Define un color de fondo, en este caso divide el fondo en 2 colores en 2 porciones */
}

.textoubicacion{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #e2e2e2;
    border-radius: 5px;
    margin-top: 80px;
    left: 15%;
    font-family: Tahoma;
    font-size: 11px;
    padding: 0px 10px 0px 10px;
    align-content: center;
    color: #002034;   
}

.Subtitulo {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 25px; /* Define el tamaño de letra*/
    margin-top: 10px;
    left: 5%;
    text-shadow: 1.5px 1.5px #000000; /* Define un borde para el texto*/
    color:#e2e2e2; /* Define un color del texto*/
}

.Subtitulo2 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    margin-top: 0px;
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    margin-left: 27%;
    font-size: 25px; /* Define el tamaño de letra*/
    text-shadow: 1.5px 1.5px #000000; /* Define un borde para el texto*/
    color:#e2e2e2; /* Define un color del texto*/
}

.textoclima{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #e2e2e2;
    border-radius: 5px;
    margin-left: 27%;
    max-width: 70%;
    font-family: Tahoma;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    align-content: center;
    color: #002034;   
}

.Flora{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
      text-align: justify; /* Define una posición del texto, en este caso justificado*/
    font-family: Tahoma;
    font-size: 25px;
    align-content: center;
    text-shadow: 1px 1px #000000; 
    color: #e2e2e2; 
    padding: 0px 0px 0px 0px;
}

.Fauna{/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
      text-align: justify; /* Define una posición del texto, en este caso justificado*/
    font-family: Tahoma;
    font-size: 25px;
    align-content: center;
    text-shadow: 1px 1px #000000; 
    color: #e2e2e2; 
    padding: 0px 0px 0px 0px;
}

.Brujula {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    background-color: #e2e2e2;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    align-content: center;
}

.Maps {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 15px; /* Define el tamaño de letra*/
    color: #e2e2e2;
    cursor: pointer;
    text-decoration:underline; /*Permite que el texto presente subrayado (Debido a que este se le había eliminado a los elementos tipo "a")*/
}

.Maps:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #afafc4;
    text-shadow: 1px 1px #000000;
    }

.vinc1 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 10px; /* Define el tamaño de letra*/
    width: 150px;/*Define el ancho de caja */
    color:#002034; /* Define un color del texto*/
}

.vinc1:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #2a4f5e; /* Define un color del texto*/
}

.textohabitantes{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #e2e2e2;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 18px;
    padding: 0px 10px 0px 10px;
    align-content: center;
    color: #002034;   
}


.Subtitulo3 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 25px; /* Define el tamaño de letra*/
    text-shadow: 1.5px 1.5px #000000; /* Define un borde para el texto*/
    font-weight: 600; /* Define el espesor de la letra*/
    color:#e2e2e2; /* Define un color del texto*/
}


.Pachunos{/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #e2e2e2;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    align-content: center;
    color: #002034; 
}

.Subsubtitulo {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 20px; /* Define el tamaño de letra*/
    padding-left: 5px;
    color:#002034; /* Define un color del texto*/
    background-color:  #e2e2e2;
    border-radius: 5px;
}
    

.Imagenes{
    position: relative;/* Definición de posición relativa, depende de otros elementos*/
	float: left;/* Especifíca que el elemento flota a la izquierda del cuadro*/
	margin-right: 10px;/* Distancia mínima de 10 pixeles a la derecha del elemeto con otro elemento*/
	margin-bottom: 10px;/* Distancia mínima de 10 pixeles debajo del elemeto con otro elemento*/
    margin-left: 10px;/* Distancia mínima de 10 pixeles a la izquierda del elemeto con otro elemento*/
	margin-top: 10px;/* Distancia mínima de 10 pixeles encima del elemeto con otro elemento*/
}

.vinc2 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 12px; /* Define el tamaño de letra*/
    width: 150px;/*Define el ancho de caja */
    color:#e2e2e2; /* Define un color del texto*/
    position: relative;
    top: 30px;
}

.vinc2:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #afafc4; /* Define un color del texto*/
}

.Indiceactividades {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #e2e2e2;
    border-radius: 5px;
    max-width: 50%; /*Define el ancho de caja */
    font-family: Tahoma;
    font-size: 20px;
    padding: 0px 0px 0px 10px;
    align-content: center;
    color: #002034; 
}

.Iniciohistoria {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #e2e2e2;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 20px;
    padding: 10px 10px 0px 10px;
    align-content: center;
    color: #002034; 
}

.Pachunos1{/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 18px; /* Define el tamaño de letra*/
    max-width: 900px;/*Define el ancho de caja */
    color:#002034; /* Define un color del texto*/
    text-align: justify;
}

.Pachunos1:hover {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    color: #2a4f5e; /* Define un color del texto*/
}

.vinc3 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 12px; /* Define el tamaño de letra*/
    width: 150px;/*Define el ancho de caja */
    color:#002034; /* Define un color del texto*/
}

.vinc3:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color:#2a4f5e; /* Define un color del texto*/
}

.Subtitulo4{/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 30px; /* Define el tamaño de letra*/
    margin-top: 50px;
    text-shadow: 1.5px 1.5px #000000; /* Define un borde para el texto*/
    color:#e2e2e2; /* Define un color del texto*/
}

.Fondoreferencias{
    height: 100vh; /*Establece la altura de un elemento*/
    background: linear-gradient(to right, #e2e2e2 0%, #e2e2e2 28%,#002034 28%, #002034 78%, #e2e2e2 78%, #e2e2e2 100%);/* Define un color de fondo, en este caso divide el fondo en 2 colores distintos para 3 porciones iguales*/
}

.Referencias { /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #e2e2e2;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 25px;
    padding: 0px 10px 0px 10px;
    align-content: center;
    color: #002034; 
}

#imagen {
    display: none !important;
  }

#nuevaimagen {
    display: block !important;
  }


.vinc4 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 12px; /* Define el tamaño de letra*/
    color:#e2e2e2; /* Define un color del texto*/
}

.vinc4:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #afafc4; /* Define un color del texto*/
}

.Indiceact {
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 20px; /* Define el tamaño de letra*/
    max-width: 30%;/*Define el ancho de caja */
    color:#002034; /* Define un color del texto*/
    text-align: justify;
}

.Indiceact:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #2a4f5e; /* Define un color del texto*/
}

.Imagenact{
    position: relative;/* Definición de posición relativa, depende de otros elementos*/
	float: right;/* Especifíca que el elemento flota a la izquierda del cuadro*/
	margin-right: 10px;/* Distancia mínima de 10 pixeles a la derecha del elemeto con otro elemento*/
	margin-bottom: 10px;/* Distancia mínima de 10 pixeles debajo del elemeto con otro elemento*/
    margin-left: 10px;/* Distancia mínima de 10 pixeles a la izquierda del elemeto con otro elemento*/
	margin-top: 10px;/* Distancia mínima de 10 pixeles encima del elemeto con otro elemento*/
}

.Subtituloact1{
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 25px;
    padding: 10px 10px 0px 10px;
    align-content: center;
    color: #e2e2e2; 
}

.Subsubtituloact1{
    display: block; 
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color: #e2e2e2;
    border-radius: 5px;
    max-width: 90%;
    font-family: Tahoma;
    font-size: 20px;
    padding: 10px 10px 0px 10px;
    align-content: center;
    color: #002034; 
}

.Imagenescenter{ /*Estilo para centrar las imagenes*/
    text-align: center;/*Alineación de texto centrado*/
}


.vinc5 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 12px; /* Define el tamaño de letra*/
    width: 150px;/*Define el ancho de caja */
    position: relative;
    top: 100px;
    left: 27%;
    color:#e2e2e2; /* Define un color del texto*/
}

.vinc5:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #afafc4; /* Define un color del texto*/
}


 /Check Box Menu/

#btn-menu {
  display: none;   /* oculta el checkbox cuando no es necesario*/
}



.menu li{
  /*Se define el comportamiento de cada item, que este caso, es cada página del menú de navegación 
  de la página*/
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

/Bloque de información de la página/

.info {
  /*Definición de la columna donde se tendrá la información de cada página, se le define su ancho, color de 
  de fondo, bordes, padding, etc.*/

    float: right; 
    background-color: white;
    border-color: var(--c1);
    border-top-right-radius: var(--borderButton);
    border-bottom-right-radius: var(--borderButton);
    border-style: solid;
    border-width: 5px;
    position: relative;
    padding: 20px 20px 20px 20px;
    right: 5px;
    width: 72%; 
    transition: width 1s;
    }  
  
.menu { /* Crea una clase para definir una caja que contiene los botones del menú de navegación*/
    font-family: Tahoma;/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    width: 23%;
    padding: 5px 15px 5px 5px;
    text-align: center;
    position: fixed; 
    left: 5px;
    transition: widht 2s; /*Define una trasición en 2 segundos cuando el puntero se ubica encima del elemento*/
    color:#e2e2e2;
}
div.checkBoxMenu { /* Define las características del boton de navegación*/
  
  background-color: #002034; /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
  height: 40px; width: 60%; 
  border-radius: 50px; 
  margin-bottom: 6px; 
  margin-left: 17px;
  padding-left: 25px;
 padding-top: 10px;
    border: solid 1px black; /* Define un borde negro de 1px al elemento*/
}

div.checkBoxMenu img { /* Define las características del boton de navegación especificamente para elementos "img" */

  background-color:#002034; /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
  position: relative; 
  float: left; 
}

div.checkBoxMenu p { /* Define las características del boton de navegación especificamente para elementos "p"*/
  
  font-family: Tahoma;/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
  font-size: 20px ; 
  font-weight: normal;
  margin: auto;
    text-align:left;
    color: #e2e2e2;
}

.buttonMenu { /* Define carcateristicas esteticas de la letra de los botones de navegación*/
    color:#e2e2e2;/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    background-color: #002034; 
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 500; /* Define el espesor de la letra*/
    text-align: center;
    width: 80%; 
    font-weight: 500;
    border-color: rgba(0, 0, 0, .3); /* Define un color de borde en forma de malla negra*/
    border-radius:20px;
    cursor: pointer;
    transition: height 2s; /*Define una trasición en 2 segundos cuando el puntero se ubica encima del elemento*/
}

.buttonMenu:hover{ /* Define carcateristicas esteticas de la letra de los botones de navegación cuando el puntero se ubica encima del elemento*/

    color: #002034;
    cursor: pointer;
    background-color: #e2e2e2;
    font-size: 20px;
    width: 81%;
    height: 45px;
    transition: 0.8s; /*Define una trasición en 0.8 segundos cuando el puntero se ubica encima del elemento*/
    position: relative;
    right: 3px;    
}

    
/* Cuando la pantalla mida menos de 600 px */
}

#btn-menu {
  display: none;  
}


.menu li{

  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

:root {
  --borderButton: 10px;
}


 
@media screen and (max-width: 800px) {

.iconos{ /*Caracteristicas  para algunos iconos*/
    width: 15%;    
    }

.Fondoindice{
    height: 100vh; /*Establece la altura de un elemento*/
    background: linear-gradient(to right, #E5FFEC 0%, #E5FFEC 30%,#132815 30%, #132815 70%, #E5FFEC 70%, #E5FFEC 100%);/* Define un color de fondo, en este caso divide el fondo en 2 colores distintos para 3 porciones iguales*/
}

.Titulo {
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 31px; /* Define el tamaño de letra*/
    max-width: 25%;/*Define el ancho de caja */
    margin-left: 37.5%;/* Define el margen izquiedo de la caja*/
    text-shadow: 3px 3px #000000; /* Define un borde para el texto*/
    cursor: pointer; /* Cuando se para encima del texto el puntero se vuelve una mano*/
    color:#E5FFEC; /* Define un color del texto*/
    display: flex; /*Especifica como se debe mostrar un elemento HTML */
    justify-content: center; /* Especifica la alineación del los elementos dentro de la caja, en este caso centrado*/
    font-style:normal;
    font-weight: 1000;
 }

.Titulo:hover { /* Especifíca acciones en cuánto el puntero se para encima del elemento */
    color: #B5E8C1; /* Define un color*/
    text-shadow: 3px 3px #252525; /* Define un color de borde*/
}
    
.imageninicio{  
    margin-top: 50px; /* Distancia del elemento al tope superior */
    padding-left: 7%; /* Distancia del elemento al tope izquierdo */
    width: 86.5%;
}

    
.textoinicio{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color: #132815;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 11px;
    margin-left: -15%;
    padding: 0px 10px 0px 10px;
    align-content: center;
    color: #E5FFEC;   
}

a { /* Permite hacer definiciones para los elementos tipo vínvulo*/
    text-decoration: none; /* Elimina de los elementos tipo vínculo el subrayado*/
}

.Fondoubicacion{
    height: 100vh; /*Establece la altura de un elemento*/
    background: linear-gradient(to right, #E5FFEC 0%, #E5FFEC 25%,#132815 25%, #132815 100%);/* Define un color de fondo, en este caso divide el fondo en 2 colores en 2 porciones */
}

.textoubicacion{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #E5FFEC;
    border-radius: 5px;
    margin-top: 80px;
    left: 15%;
    font-family: Tahoma;
    font-size: 10px;
    padding: 0px 10px 0px 10px;
    align-content: center;
    color: #132815;   
}

.Subtitulo {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 20px; /* Define el tamaño de letra*/
    margin-top: 10px;
    left: 5%;
    text-shadow: 1.5px 1.5px #000000; /* Define un borde para el texto*/
    color:#E5FFEC; /* Define un color del texto*/
}

.Subtitulo2 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    margin-top: 0px;
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    margin-left: 27%;
    font-size: 20px; /* Define el tamaño de letra*/
    text-shadow: 1.5px 1.5px #000000; /* Define un borde para el texto*/
    color:#E5FFEC; /* Define un color del texto*/
}

.textoclima{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #E5FFEC;
    border-radius: 5px;
    margin-left: 27%;
    max-width: 70%;
    font-family: Tahoma;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    align-content: center;
    color: #132815;   
}

.Flora{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
      text-align: justify; /* Define una posición del texto, en este caso justificado*/
    font-family: Tahoma;
    font-size: 20px;
    align-content: center;
    text-shadow: 1px 1px #000000; 
    color: #E5FFEC; 
    padding: 0px 0px 0px 0px;
}

.Fauna{/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
      text-align: justify; /* Define una posición del texto, en este caso justificado*/
    font-family: Tahoma;
    font-size: 20px;
    align-content: center;
    text-shadow: 1px 1px #000000; 
    color: #E5FFEC; 
    padding: 0px 0px 0px 0px;
}

.Brujula {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    background-color: #E5FFEC;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    align-content: center;
}

.Maps {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 12px; /* Define el tamaño de letra*/
    color: #E5FFEC;
    cursor: pointer;
    text-decoration:underline; /*Permite que el texto presente subrayado (Debido a que este se le había eliminado a los elementos tipo "a")*/
}

.Maps:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #B5E8C1;
    text-shadow: 1px 1px #000000;
    }

.vinc1 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 9px; /* Define el tamaño de letra*/
    width: 150px;/*Define el ancho de caja */
    color:#132815; /* Define un color del texto*/
}

.vinc1:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #006d69; /* Define un color del texto*/
}

.textohabitantes{ /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #E5FFEC;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 12px;
    padding: 0px 10px 0px 10px;
    align-content: center;
    color: #132815;   
}


.Subtitulo3 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 18px; /* Define el tamaño de letra*/
    text-shadow: 1.5px 1.5px #000000; /* Define un borde para el texto*/
    font-weight: 600; /* Define el espesor de la letra*/
    color:#E5FFEC;; /* Define un color del texto*/
}


.Pachunos{/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #E5FFEC;;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 12px;
    padding: 10px 10px 10px 5px;
    align-content: center;
    color: #132815; 
}

.Subsubtitulo {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 15px; /* Define el tamaño de letra*/
    padding-left: 5px;
    color:#132815; /* Define un color del texto*/
    background-color:  #E5FFEC;
    border-radius: 5px;
}
    

.Imagenes{
    position: relative;/* Definición de posición relativa, depende de otros elementos*/
	float: left;/* Especifíca que el elemento flota a la izquierda del cuadro*/
	margin-right: 10px;/* Distancia mínima de 10 pixeles a la derecha del elemeto con otro elemento*/
	margin-bottom: 10px;/* Distancia mínima de 10 pixeles debajo del elemeto con otro elemento*/
    margin-left: 10px;/* Distancia mínima de 10 pixeles a la izquierda del elemeto con otro elemento*/
	margin-top: 10px;/* Distancia mínima de 10 pixeles encima del elemeto con otro elemento*/
}

.vinc2 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 10px; /* Define el tamaño de letra*/
    width: 150px;/*Define el ancho de caja */
    color:#E5FFEC; /* Define un color del texto*/
    position: relative;
    top: 30px;
}

.vinc2:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #B5E8C1; /* Define un color del texto*/
}

.Indiceactividades {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #E5FFEC;
    border-radius: 5px;
    max-width: 50%; /*Define el ancho de caja */
    font-family: Tahoma;
    font-size: 18px;
    padding: 0px 0px 0px 10px;
    align-content: center;
    color: #132815; 
}

.Iniciohistoria {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color:  #E5FFEC;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 15px;
    padding: 10px 10px 0px 10px;
    align-content: center;
    color: #132815; 
}

.Pachunos1{/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 12px; /* Define el tamaño de letra*/
    max-width: 900px;/*Define el ancho de caja */
    color:#132815; /* Define un color del texto*/
    text-align: justify;
}

.Pachunos1:hover {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    color: #006d69; /* Define un color del texto*/
}

.vinc3 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 12px; /* Define el tamaño de letra*/
    width: 150px;/*Define el ancho de caja */
    color:#132815; /* Define un color del texto*/
}

.vinc3:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color:#006d69; /* Define un color del texto*/
}

.Subtitulo4{/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 25px; /* Define el tamaño de letra*/
    margin-top: 50px;
    text-shadow: 1.5px 1.5px #000000; /* Define un borde para el texto*/
    color:#E5FFEC; /* Define un color del texto*/
}

.Fondoreferencias{
    height: 100vh; /*Establece la altura de un elemento*/
    background: linear-gradient(to right, #E5FFEC 0%, #E5FFEC 28%,#132815 28%, #132815 78%, #E5FFEC 78%, #E5FFEC 100%);/* Define un color de fondo, en este caso divide el fondo en 2 colores distintos para 3 porciones iguales*/
}

.Referencias { /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color: #E5FFEC;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 20px;
    padding: 0px 10px 0px 10px;
    align-content: center;
    color: #132815; 
}

#imagen {
    display: none !important;
  }

#nuevaimagen {
    display: none !important;
  }


#nuevaimagen2 {
    display: block !important;
  }    


.vinc4 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 10px; /* Define el tamaño de letra*/
    color:#E5FFEC; /* Define un color del texto*/
}

.vinc4:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #006d69; /* Define un color del texto*/
}

.Indiceact {
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 15px; /* Define el tamaño de letra*/
    max-width: 30%;/*Define el ancho de caja */
    color:#132815; /* Define un color del texto*/
    text-align: justify;
}

.Indiceact:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #006d69; /* Define un color del texto*/
}

.Imagenact{
    position: relative;/* Definición de posición relativa, depende de otros elementos*/
	float: right;/* Especifíca que el elemento flota a la izquierda del cuadro*/
	margin-right: 10px;/* Distancia mínima de 10 pixeles a la derecha del elemeto con otro elemento*/
	margin-bottom: 10px;/* Distancia mínima de 10 pixeles debajo del elemeto con otro elemento*/
    margin-left: 10px;/* Distancia mínima de 10 pixeles a la izquierda del elemeto con otro elemento*/
	margin-top: 10px;/* Distancia mínima de 10 pixeles encima del elemeto con otro elemento*/
}

.Subtituloact1{
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 20px;
    padding: 10px 10px 0px 10px;
    align-content: center;
    color: #E5FFEC; 
}

.Subsubtituloact1{
    display: block; 
    text-align: justify; /* Define una posición del texto, en este caso justificado*/
    background-color: #E5FFEC;
    border-radius: 5px;
    max-width: 90%;
    font-family: Tahoma;
    font-size: 18px;
    padding: 10px 10px 0px 10px;
    align-content: center;
    color:#132815; 
}


.Imagenescenter{ /*Estilo para centrar las imagenes*/
    text-align: center;/*Alineación de texto centrado*/
}


.vinc5 {/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    font-family: Tahoma; /* Define el tipo de letra del estilo */
    font-size: 12px; /* Define el tamaño de letra*/
    width: 150px;/*Define el ancho de caja */
    position: relative;
    top: 100px;
    left: 27%;
    color:#E5FFEC; /* Define un color del texto*/
}

.vinc5:hover {/* Define acciones para cuando el puntero se ubica encima del texto*/
    color: #B5E8C1; /* Define un color del texto*/
}

    .menu { /* Crea una clase para definir una caja que contiene los botones del menú de navegación*/
    font-family: Tahoma;/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    width: 23%;
    padding: 5px 15px 5px 5px;
    text-align: center;
    position: fixed; 
    left: 5px;
    transition: widht 2s; /*Define una trasición en 2 segundos cuando el puntero se ubica encima del elemento*/
    color:#E5FFEC;
}
div.checkBoxMenu { /* Define las características del boton de navegación*/
  
  background-color: #132815; /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
  height: 40px; width: 75%; 
  border-radius: 50px; 
  margin-bottom: 6px; 
  margin-left: 0px;
  padding-left: 7%;
 padding-top: 10px;
    border: solid 1px black; /* Define un borde negro de 1px al elemento*/
}

div.checkBoxMenu img { /* Define las características del boton de navegación especificamente para elementos "img" */

  background-color:#132815; /* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
  position: relative; 
  float: left; 
    cursor: pointer;
}

div.checkBoxMenu p { /* Define las características del boton de navegación especificamente para elementos "p"*/
  
  font-family: Tahoma;/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
  font-size: 15px ; 
  font-weight: normal;
  margin: auto;
    text-align:left;
    color: #E5FFEC;
    cursor: pointer;
}

.buttonMenu { /* Define carcateristicas esteticas de la letra de los botones de navegación*/
    color:#E5FFEC;/* Algunas definiciones se omiten puesto que ya se explican en lineas anteriores*/
    background-color: #132815; 
    font-family: Tahoma;
    font-size: 15px;
    font-weight: 500; /* Define el espesor de la letra*/
    text-align: center;
    width: 80%; 
    font-weight: 500;
    border-color: rgba(0, 0, 0, .3); /* Define un color de borde en forma de malla negra*/
    border-radius:20px;
    cursor: pointer;
    transition: height 2s; /*Define una trasición en 2 segundos cuando el puntero se ubica encima del elemento*/
}

.buttonMenu:hover{ /* Define carcateristicas esteticas de la letra de los botones de navegación cuando el puntero se ubica encima del elemento*/

    color: #132815;
    cursor: pointer;
    background-color: #E5FFEC;
    font-size: 15px;
    width: 81%;
    height: 45px;
    transition: 0.8s; /*Define una trasición en 0.8 segundos cuando el puntero se ubica encima del elemento*/
    position: relative;
    right: 3px;    
}

    p, div.contents li {
      
      font-size: 18px;
      line-height: 1.7;
    }

    .menu {
 
      margin-left: -50%; 
      transition: all 1s;
      z-index: 30;
      background-color: rgba(0,0,0,0.8);
      width: 180px; 
      border-radius: var(--borderButton);
    }

    div.menuButton {
      width: 180px /Aumento del tamaño del contenedor de botones de navegación/
    }

    .titleTimelineOne, .titleTimelineTwo, .contentsTitle {
      font-size: 30px;

    }

    .info {
      
      width: 86%;
      transition: all 1s; 
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      right: 10px;
    }

    .buttonMenu, .buttonMenu:hover {
      font-family: Tahoma;
      border-radius: var(--borderButton);
      width: 90%; 
      left: 3px;
    }
    div.infoContainer {
      max-width: 100%;
      transition: all 1s;
    }
    img.three {
      z-index: 10;
      width: 100%;
      margin-right: 5px;
      height: 250px;
    }

    #btn-menu:checked ~ .menu {  /* el checkbox controla las dos posiciones del menu */
      margin: 1px; 
    }
  }

}